<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Therapist Sign Up | SpeechUp</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/logo/favicon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- File Upload -->
    <link rel="stylesheet" href="/assets/css/file-upload.css">
    <!-- Plyr CSS -->
    <link rel="stylesheet" href="/assets/css/plyr.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <!-- Full Calendar -->
    <link rel="stylesheet" href="/assets/css/full-calendar.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <!-- Editor Quill -->
    <link rel="stylesheet" href="/assets/css/editor-quill.css">
    <!-- Apex Charts -->
    <link rel="stylesheet" href="/assets/css/apexcharts.css">
    <!-- Calendar -->
    <link rel="stylesheet" href="/assets/css/calendar.css">
    <!-- jVector Map -->
    <link rel="stylesheet" href="/assets/css/jquery-jvectormap-2.0.5.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <!--==================== Preloader Start ====================-->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!--==================== Preloader End ====================-->

    <!--==================== Sidebar Overlay Start ====================-->
    <div class="side-overlay"></div>
    <!--==================== Sidebar Overlay End ====================-->

    <section class="auth d-flex">
        <div class="auth-left bg-main-50 flex-center p-24">
            <img src="/assets/images/thumbs/auth-img2.png" alt="Therapist">
        </div>
        <div class="auth-right py-40 px-24 flex-center flex-column">
            <div class="auth-right__inner mx-auto w-100">
                <a href="/templates/index.hbs" class="auth-right__logo">
                    <img src="/assets/images/logo/logo.png" alt="SpeechUp Logo">
                </a>
                <h2 class="mb-8">Therapist Sign Up</h2>
                <p class="text-gray-600 text-15 mb-32">Please sign up to create your account and start the adventure.</p>
                <form id="therapistsignupForm" action="/therapistsignup" method="post">
                    <div class="mb-24">
                        <label for="username" class="form-label mb-8 h6">Username</label>
                        <div class="position-relative">
                            <input type="text" class="form-control py-11 ps-40" id="username" name="username" placeholder="Type your username" required>
                            <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex">
                                <i class="ph ph-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-24">
                        <label for="email" class="form-label mb-8 h6">Email</label>
                        <div class="position-relative">
                            <input type="email" class="form-control py-11 ps-40" id="email" name="email" placeholder="Type your email address" required>
                            <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex">
                                <i class="ph ph-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-24">
                        <label for="password" class="form-label mb-8 h6">Password</label>
                        <div class="position-relative">
                            <input type="password" class="form-control py-11 ps-40" id="password" name="password" placeholder="Enter your password" required>
                            <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex">
                                <i class="ph ph-lock"></i>
                            </span>
                        </div>
                        <span class="text-gray-900 text-15 mt-4">Must be at least 8 characters</span>
                    </div>
                    <button type="submit" class="btn btn-main rounded-pill w-100">Sign Up</button>
                    <p class="mt-32 text-gray-600 text-center">
                        Already have an account? 
                        <a href="/templates/therapistsignup.hbs" class="text-main-600 hover-text-decoration-underline">Log In</a>
                    </p>
                </form>
                <div class="divider my-32 position-relative text-center">
                    <span class="divider__text text-gray-600 text-13 fw-medium px-26 bg-white">or</span>
                </div>
                <ul class="flex-align gap-10 flex-wrap justify-content-center">
                    <li>
                        <a href="https://www.facebook.com" class="w-38 h-38 flex-center rounded-6 text-facebook-600 bg-facebook-50 hover-bg-facebook-600 hover-text-white text-lg">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com" class="w-38 h-38 flex-center rounded-6 text-twitter-600 bg-twitter-50 hover-bg-twitter-600 hover-text-white text-lg">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com" class="w-38 h-38 flex-center rounded-6 text-google-600 bg-google-50 hover-bg-google-600 hover-text-white text-lg">
                            <i class="ph ph-google-logo"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Jquery JS -->
    <script src="/assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Phosphor Icons -->
    <script src="/assets/js/phosphor-icon.js"></script>
    <!-- File Upload -->
    <script src="/assets/js/file-upload.js"></script>
    <!-- Plyr -->
    <script src="/assets/js/plyr.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <!-- Full Calendar -->
    <script src="/assets/js/full-calendar.js"></script>
    <!-- jQuery UI -->
    <script src="/assets/js/jquery-ui.js"></script>
    <!-- Editor Quill -->
    <script src="/assets/js/editor-quill.js"></script>
    <!-- Apex Charts -->
    <script src="/assets/js/apexcharts.min.js"></script>
    <!-- Calendar -->
    <script src="/assets/js/calendar.js"></script>
    <!-- jVector Map -->
    <script src="/assets/js/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="/assets/js/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Main JS -->
    <script src="SPEECHUP PROJECT/assets/js/main.js"></script>
</body>
</html>
