<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THERAPIST LOG IN FORM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#therapistloginform').submit(function(e){
               e.preventDefault();
               $.post("/therapistlogin",
                   {
                      username : $('#username').val(),
                      password : $('#password').val()
                   },
                   function(data, status){
                   //alert("Data: " + data + " Status : " + status);
                      if(data === "profile"){
                            location.href = "/profile";
                        } else {
                            $('#errorMessage').html(data)
                        }
                   }
                )
            })
        })

    </script>
</head>
<body>
    <body style="background:#00FFFF">
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="card p-3 text-center" style="width: 30rem">
            <h2>Therapist Log In Form</h2>
            <span style="color:red" id="errorMessage"></span>
            <form id="therapistloginForm" class="mb-3" action="/therapistlogin" method="post">
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <input class="btn btn-success" type="submit" value="Log In">
            </form> 
            <a href="/therapistsignup">No Account Yet? Sign Up Now</a>
        </div>
    </div>
    
</body>
</html>