<style>

.back-btn {
        display: flex;
        align-items: center;
        background-color: #f8f9fa;
        color: #333;
        border: none;
        padding: 8px 8px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        font-weight: bold;
        margin-bottom: 20px; /* Space below the back button */
    }

    .back-btn:hover {
        background-color: #e0e0e0;
        transform: translateX(-3px);
    }

    .back-btn::before {
        content: "⮐";
        margin-right: 8px;
        font-size: 18px;
    }

</style>

</div><button onclick="loadPage('dysarthriagameselection')" class="back-btn">Back to Dysarthria Unit</button>

<h2>WORD SEARCH</h2>